{% extends "__base.html" %}
{% load tz %}

{% block head %}
{% endblock head %}

{% block content %}
    <div class="container-fluid">
    <div class="col-md-8">
    <h2>Upcoming Shifts</h2>
        {% for object in object_list %}
            {{ object.employee }}
        {% localtime off %}
        Start Time UTC: {{ object.start_time }} - End Time UTC: {{ object.end_time }}
        {% endlocaltime %}
        <br />
        {% localtime on %}
        Start Time Local: {{ object.start_time }} - End Time Local: {{ object.end_time }}
        {% endlocaltime %}
        <hr>
    {% endfor %}

    </div>
    <div class="col-md-4">
        <form action="" method="POST">
            {% csrf_token %}
            <input name="employee_name" id="id_employee_name" placeholder="Enter employee's name..." />
        </form>
    </div>

    </div>



    <!-- bye bye modal
    Button trigger modal
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addShiftModal">
        Add Shift
    </button>

     Modal
    <div class="modal fade" id="addShiftModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add a New Shift</h4>
                </div>
                <form action="" method="post">
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" value="Add Shift" class="btn btn-primary">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <-->

{% endblock content %}

{% block after %}

{% endblock after %}