<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'welcome' %}">ShiftGap</a>
        </div>

        <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{% url 'shifts:shift_list' %}">Shifts <span class="sr-only">(current)</span></a></li>
        <li><a href=''  class="load_page" data-toggle="modal" data-target="#myModal" load_page="{% url 'shifts:shift_create' %}" title="new shift">
          New shift
        </a></li>
        <li class="active"></li>

          </ul>
        {% load tz %}
        {% get_current_timezone as TIME_ZONE %}
        {% if request.user.id %}
        <div class="navbar-form navbar-right" style="color:#fff">{{ TIME_ZONE }} <a href="{% url 'persons:user_update' request.user.id %}">change</a></div>
        {% endif %}
        {% if request.user.id %}
            <div class="navbar-form navbar-right" role="form" style="color:#fff">{{ request.user }} <a href="{% url 'persons:logout' %}">Logout</a></div>
        {% else %}
            <div class="navbar-form navbar-right" role="form" style="color:#fff"><a href="{% url 'persons:user_create' %}">Sing Up</a></div>
        {% endif %}
        </div><!--/.navbar-collapse -->
    </div>
</div>